#noscript-msg {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #d5d5d5;
    font-family: textFont;
    font-size: 2em;
    color: #FFF;
    transform: translateX(-50%);
}

#noscript-msg span {
    color: #00DB19;
}

#menu-bar {
    display: inline-block;
}

#menu-bar li:hover > ul {
    display: block;
}
