#noscript-msg {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #d5d5d5;
    font-family: textFont;
    font-size: 2em;
    color: #FFF;
    transform: translateX(-50%);
}

#noscript-msg span {
    color: #00DB19;
}

#menu-bar {
    display: inline-block;
}

#menu-bar li:hover > ul {
    display: block;
}

#title-container {
    display: block;

    animation: fadeIn 1000ms;
}


#title-header:after {
  content: 'jovan polus.';
}

#title-description:after {
  content: 'software developer, computer enthusiast and a human.';
}

#typing-indicator {
  display: none;
}
